@font-face {
  font-family: HeaderFont;
  src: local("Crimson-Pro"),
    url(../public/fonts/Crimson-Pro.ttf) format("truetype");
}

@font-face {
  font-family: MyFontStandard;
  src: local("Inter-standard"),
    url(../public/fonts/Inter-standard.ttf) format("truetype");
}

@font-face {
  font-family: MyFontItalic;
  src: local("Inter-Italic"),
    url(../public/fonts/Inter-Italic.ttf) format("truetype");
}

* {
  margin: 0;
}

body {
  background: #fef3e2 !important;
  font-family: MyFontStandard, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background: #fa812f;
  margin: 0;

  a {
    font-family: HeaderFont, serif;
    font-weight: 700;
    color: #fef3e2;
    text-decoration: none;
  }
}

h1 {
  font-family: HeaderFont, serif;
  color: #575555;
  text-align: center;
  margin-top: 10px;
}

h2 {
  font-family: HeaderFont, serif;
  color: #575555;
  text-align: center;
  margin-top: 10px;
}

h3 {
  font-family: HeaderFont, serif;
  color: #575555;
  text-align: center;
  margin-top: 10px;
}

p {
  color: #575555;
  text-align: center;
  margin-top: 4px;
}

/* style for profilePage*/
